@keyframes fadeInUp {
  from {
    opacity: 0;
    scale3d(.1, .1, .1);
    transform: translate3d(0, -20px, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  animation: fadeInUp 1s;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-200px, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInLeft {
  animation: fadeInLeft 1s;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(200px, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInRight {
  animation: fadeInRight 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#posts-list > li {
  opacity: 0
}

.fadeIn {
  animation: fadeIn 1s;
}