html {
    min-height: 100%;
}
body {
    position: absolute;
    min-height: 100%;
    width: 100%;
    background-color: #EBECEE;
    -webkit-font-smoothing: subpixel-antialiased;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    color: #464646;
    /*z-index: 0;*/
    /*background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAABmJLR0QA7wDzAPq5LT36AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4AIVBRcFtLX3HQAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAAcElEQVRYw+3XuwqAMAyF4VzU939TB7dKG6cOYhFRhwz/GQOBD86S6LqVkB+zzO93a63i7qeZSaKo6mWWCmhmuYGjTFlhrTWJiLzAXnf6igECBAgQIECAAO/vwS8/xChlp2KAAAECBAgQIECAAAE+zgGmgQ9CadOaLQAAAABJRU5ErkJggg=="),
        #EFF3FA;*/
}

h1,
.h1 {
  font-size: 36px;
}
h2,
.h2 {
  font-size: 30px;
}
h3,
.h3 {
  font-size: 24px;
}
h4,
.h4 {
  font-size: 18px;
  font-weight: 600;
}
h5,
.h5 {
  font-size: 14px;
  font-weight: 600;
}
h6,
.h6 {
  font-size: 12px;
  font-weight: 600;
}
hr {
    border-top: 3px solid #eeeeee;
}
#container {
    padding-top: 60px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

p,code,pre {
    font-size: 15px;
    line-height: 1.5;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
/*nav*/
.navbar-toggle {
    margin: 0px 15px;
    padding: 0px 0px;
    height: 40px;

}
body > nav > div > div.navbar-header > button > i {
    padding: 0px 10px;
}
.navbar {    
    min-height: 40px;  
}
.nav > li > a {    
    padding: 8px 15px;
    height: 40px;
}
.navbar-brand {
    height: 40px;
    padding: 8px 15px;
}
.collapse > form {
    height: 40px;
    margin-top: -1px;
    margin-bottom: -1px;
    padding: 0px 10px;
}
.collapse > form > input {
    padding: 8px 15px;
    margin: 5px 0px;
    height: auto;
}


#center_page > div > header {
    border-bottom:3px dotted #F00;
    border-right:0;
    border-left:0;
    width:100%;
}

/*index*/
#center_page {
    z-index: 2;
    padding-bottom: 20px;
}
#content {
    margin-top: 0px;
}
#posts-list {
    padding-left: 15px;
    padding-right: 15px;
}
#posts-list > li {
    margin-bottom: 10px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
#posts-list > li > article > div.tagged {
    padding-bottom: 30px;
    padding-left: 5px;
}
#posts-list > li > article > div.tagged > i {
    font-size: 1.5em;
}
#posts-list > li > article > div.row > div.comment-count.col-md-3 {
    padding-top: 0.5em;
}
#posts-list > li > article > div.row > div.comment-count.col-md-3 > i {
    padding-right: 5px;
    font-size: 1.5em;
}
#index-pagination {
    padding-bottom: 15px;
}
div.tagged > i {
    padding: 0px 5px;
}
#posts-list > li > article > div.entry-content > h1:nth-child(1),
#posts-list > li > article > div.entry-content > h2:nth-child(1),
#posts-list > li > article > div.entry-content > h3:nth-child(1),
#posts-list > li > article > div.entry-content > h4:nth-child(1),
#posts-list > li > article > div.entry-content > h5:nth-child(1),
#posts-list > li > article > div.entry-content > h6:nth-child(1) {
    margin-top: 0px;
}

/*Categories*/
#accordion> div > div > h4 > a {
    display:block;
    height:100%;
    width:100%;
    text-decoration:none;
}
#accordion> div > div > h4 > a > span {
    margin-left: 5px;

}

/*pagination*/
#content > div > div > div > a {
    width: 50px;
}

/*tags*/
#center_page > div > div > ul > li {
    padding-bottom: 5px;
}
#center_page > div > div > ul > a > time {
    padding-right: 5px;
}
#center_page > div > div > ul > li > a > span {
    margin-left: 5px;
}

/*archives*/
#center_page > div > div > div > div > span {
    font-size: 20px;
}
#center_page > div > div > div > ul > a > time {
    padding-right: 10px;
}

/*article*/
#content > article > div > div > div.entry-content > h1,
#content > article > div > div > div.entry-content > h2,
#content > article > div > div > div.entry-content > h3,
#content > article > div > div > div.entry-content > h4,
#content > article > div > div > div.entry-content > h5,
#content > article > div > div > div.entry-content > h6 {
    margin-top: -50px;
    margin-bottom: 20px;
    padding-top: 70px;
}

/*sidebar_left*/
#sidebar_left {
    margin-top: 0px;
    z-index: 3;
}
.list-inline li {
    padding-right: 0;
}
.list-inline i {
    font-size: 1.3em;
}

/*sidebar_right*/
#sidebar_right {
    margin-top: 0px;
    z-index: 3;
}
#sidebar_right > div > div.panel-body > div.tags > ul > li > a > span {
    top: -1px;
}
/*dashboard*/
div.dashboard > div > div {
    padding-left: 0px;
    padding-right: 0px;
}
/*Footer*/
body > footer.footer {
    width: 100%;
    /*padding: 5px;*/
    /*margin: 0 auto;*/
    overflow: hidden;
    text-align: center;
    position: absolute;
    bottom: 0px;
}


/*blockquote*/
blockquote {
    border-left: 3px solid #55acee;
}
blockquote > p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: oblique;
}

/*PARTS*/
.parts {
    list-style-type: none;
    margin-left: -40px;
}
.parts a {
    color: #444444;
}
.parts a:hover,
.parts a:focus {
    color: #444444;
    text-decoration:none;
}
/*TOC*/
#toc {
    opacity: 0;
    width: 215px;
}
.toc {
    overflow-y: auto;
    margin-left: -5px;
}
.art-toc {
    position: fixed;
    padding-left: 0px;
    padding-right: 30px;
    opacity: 1 !important;
}
.toc li,
.toc ul {
    padding-left: 5px;
    list-style-type:none;
    width: inherit;
    white-space:nowrap; 
    overflow-x:hidden;
    text-overflow:ellipsis;
}
.toc ul {
    padding-bottom: 5px;
    padding-top: 5px;
}
.toc li {
    padding-bottom: 1px;
    padding-top: 1px;
}
div.toc > ul > li > ul {
    display: none;
}
.toc a {
    color: #444444;
}
li.active > ul {
    display: block !important;
}
li.active > a {
    font-weight:bold;
}
.toc div.tooltip {
    left: initial !important;
}

/*tipue_search*/
span.h01 {
    color: red;
    font-size: 1.5em;  
}
#tipue_search_content > div:nth-child(3n) > a {
    color: #2196f3;
}
#tipue_search_content > div,
#tipue_search_content_title,
#tipue_search_results_count {
    color: black;
}
/* Mascot go to top*/
.umaru {
    position: fixed;
    height: auto;
    width: 15%;
    max-width: 110px;
    z-index: 10;
    right: 20px;
    bottom: 20px;
}

.entry-title a:hover,
.entry-title a:focus {
    color: #414141;
    text-decoration:none;
}
.entry-title a {
    color: #414141;
}